[submodule "Dependencies/miniaudio"]
	path = Dependencies/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "Dependencies/ImGui"]
	path = Dependencies/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
